@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: rgb(179, 179, 179);
    overflow: hidden;
    user-select: none;

    .main {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(226, 108, 108);
        display: flex;
        justify-content: space-between;


        .game_wrap {
            position: relative;
            width: 150vh;
            height: 100vh;
            display: flex;
            justify-content: space-between;

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../img/A-2.png)no-repeat left center / contain,
                    url(../img/B-2.png)no-repeat right center / contain;
            }

            .spark {
                position: absolute;
                width: 100%;
                height: 90%;
                pointer-events: none;
            }

            .picA,
            .picB {
                position: relative;
                width: 50%;
                height: 100%;
                background: url(../img/A-1.png)no-repeat center / contain;
            }

            .picA {
                border-right: #750000 5px solid;


                .circles {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;

                    & div {
                        position: absolute;
                        border: rgb(255, 0, 0) 5px solid;
                        border-radius: 100%;
                        display: none;
                    }

                    .c1 {
                        top: 2%;
                        right: 5%;
                        width: 20%;
                        height: 22%;
                    }

                    .c2 {
                        top: 21%;
                        right: 8%;
                        width: 16%;
                        height: 11%;
                    }

                    .c3 {
                        top: 24%;
                        right: 28%;
                        width: 26%;
                        height: 20%;
                    }

                    .c4 {
                        top: 36%;
                        right: 5%;
                        width: 16%;
                        height: 21%;
                    }

                    .c5 {
                        bottom: 2%;
                        right: 3%;
                        width: 30%;
                        height: 22%;
                    }

                    .c6 {
                        top: 27%;
                        left: 6%;
                        width: 23%;
                        height: 27%;
                    }

                    .c7 {
                        top: 21%;
                        left: 0%;
                        width: 16%;
                        height: 12%;
                    }

                    .c8 {
                        bottom: 4%;
                        left: 16%;
                        width: 20%;
                        height: 15%;
                    }

                    .c9 {
                        bottom: 0%;
                        left: 32%;
                        width: 19%;
                        height: 15%;
                    }
                }

                .corpage {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 70%;
                    height: 100%;
                    filter: drop-shadow(0 0 5px #462929) drop-shadow(0 0 20px #632929);
                    display: none;
                    background: url(../img/err1.webp)no-repeat center / contain;
                }
            }

            .picB {
                background: url(../img/B-1.png)no-repeat center / contain;

                & div {
                    position: absolute;
                    cursor: pointer;
                }

                #err1 {
                    width: 25%;
                    height: 25%;
                    right: 0%;
                    top: 2%;
                    clip-path: polygon(60% 0, 100% 0, 100% 9%, 80% 5%, 68% 25%, 70% 78%, 60% 100%, 20% 90%, 0% 50%, 23% 17%);
                }

                #err2 {
                    width: 25%;
                    height: 17%;
                    right: 0%;
                    top: 14%;
                    clip-path: polygon(75% 0, 100% 28%, 100% 35%, 35% 95%, 14% 95%, 0% 80%, 22% 70%);
                }

                #err3 {
                    width: 30%;
                    height: 20%;
                    right: 25%;
                    top: 23%;
                    clip-path: polygon(0 15%, 50% 20%, 70% 0, 100% 32%, 25% 100%, 20% 100%, 0% 85%);
                }

                #err4 {
                    width: 20%;
                    height: 19%;
                    right: 4%;
                    top: 38%;
                }

                #err5 {
                    width: 35%;
                    height: 15%;
                    right: 2%;
                    bottom: 4%;
                    clip-path: polygon(20% 0, 85% 35%, 100% 50%, 95% 95%, 65% 100%, 0% 55%, 0% 10%);
                }

                #err6 {
                    width: 27%;
                    height: 34%;
                    left: 3%;
                    top: 25%;
                    clip-path: polygon(50% 0, 100% 50%, 30% 100%, 0 100%, 0% 35%);
                }

                #err7 {
                    width: 14%;
                    height: 12%;
                    left: 2%;
                    top: 24%;
                    clip-path: polygon(100% 0, 100% 30%, 30% 100%, 0 100%, 0 80%, 80% 0%);
                }

                #err8_1 {
                    width: 10%;
                    height: 8%;
                    left: 0%;
                    bottom: 2%;
                    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%, 0 80%, 0% 100%);
                }

                #err8_2 {
                    width: 18%;
                    height: 7%;
                    left: 18%;
                    bottom: 7%;
                }

                #err8_3 {
                    width: 13%;
                    height: 9%;
                    left: 50%;
                    bottom: 0%;
                    clip-path: polygon(0 0, 30% 0, 100% 70%, 100% 100%, 50% 100%, 0 30%);
                }

                #err9_1 {
                    width: 7%;
                    height: 7%;
                    left: 0%;
                    bottom: 11%;
                }

                #err9_2 {
                    width: 7%;
                    height: 5%;
                    left: 18%;
                    bottom: 0%;
                }

                #err9_3 {
                    width: 14%;
                    height: 12%;
                    left: 33%;
                    bottom: 1%;
                    clip-path: polygon(60% 0, 70% 0, 100% 30%, 100% 100%, 0 100%, 0 80%, 50% 50%);
                }

                .circles {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;

                    & div {
                        position: absolute;
                        border: rgb(255, 0, 0) 5px solid;
                        border-radius: 100%;
                        display: none;
                    }

                    .c1 {
                        top: 2%;
                        right: 5%;
                        width: 20%;
                        height: 22%;
                    }

                    .c2 {
                        top: 21%;
                        right: 8%;
                        width: 16%;
                        height: 11%;
                    }

                    .c3 {
                        top: 24%;
                        right: 28%;
                        width: 26%;
                        height: 20%;
                    }

                    .c4 {
                        top: 36%;
                        right: 5%;
                        width: 16%;
                        height: 21%;
                    }

                    .c5 {
                        bottom: 2%;
                        right: 3%;
                        width: 30%;
                        height: 22%;
                    }

                    .c6 {
                        top: 27%;
                        left: 6%;
                        width: 23%;
                        height: 27%;
                    }

                    .c7 {
                        top: 21%;
                        left: 0%;
                        width: 16%;
                        height: 12%;
                    }

                    .c8 {
                        bottom: 4%;
                        left: 16%;
                        width: 20%;
                        height: 15%;
                    }

                    .c9 {
                        bottom: 0%;
                        left: 32%;
                        width: 19%;
                        height: 15%;
                    }
                }

                .errpage {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 70%;
                    height: 100%;
                    filter: drop-shadow(0 0 5px #462929) drop-shadow(0 0 20px #632929);
                    display: none;
                    background: url(../img/err1.webp)no-repeat center / contain;
                }
            }

            .text {
                position: absolute;
                top: 3vh;
                width: 100%;
                background: transparent;
                font-size: 18vh;
                line-height: 1;
                font-family: "Cherry Bomb One", system-ui;
                text-align: center;
                color: #fff;
                -webkit-text-stroke: #007500 6px;
                filter: drop-shadow(0 0 20px #18461a);
                display: none;
            }
        }

        .teams {
            position: relative;
            width: calc(100vw - 150vh);
            height: 100%;

            &>div {
                width: 100%;
                height: 25%;
                display: flex;
                flex-direction: row-reverse;

                & p {
                    margin: 0;
                    font-size: 20vh;
                    line-height: 1;
                    font-family: "Cherry Bomb One", system-ui;
                    text-align: right;
                    color: #fffc67;
                }

                & div {
                    width: 25vh;
                    height: 100%;
                    background: url(../img/team1.png)no-repeat center / contain;
                    cursor: pointer;

                    &:active {
                        transform: translateY(-10px);
                    }
                }
            }

            .team2 {
                & div {
                    background-image: url(../img/team2.png);
                }
            }

            .team3 {
                & div {
                    background-image: url(../img/team3.png);
                }
            }

            .team4 {
                & div {
                    background-image: url(../img/team4.png);
                }
            }
        }

    }

}